<%= render 'sign_up_in_or_out' %>

<% unless current_user %>
  <style>
    .makepostlink, .hidden_from_you { opacity: 40% }
    .makepostlink { pointer-events: none }
  </style>
<% end %>
<div>
  <%= link_to "Make a post", new_post_path, :class => "makepostlink" %>
</div>
<body class="indexbody">
  <% @posts.each do |post| %>
    <div class="postdiv">
      <%= post[:id] %>) <br>
      Title: <%= post[:title] %> <br>
      Body: <%= post[:body] %> <br>
      <% if current_user %>
       Written by <%= User.find(post[:user_id])[:name] %>
      <% else %>
        <p class="hidden_from_you"> You must be logged in to see who wrote this post.</p>
      <% end %>
    </div>
  <br>
  <br>
<% end %>
</body>