<div class="linksbar">
<div class="linkdiv">
<%= link_to "Home", root_path %>
</div>

<% if current_user %>
    <p> Signed in as <%= current_user[:name] %></p>
  <div class="linkdiv">
    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>
  
  <div class="linkdiv">
    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
  <% else %>
    Are you a club member?
    <div class="linkdiv">
      <%= link_to "Sign In", new_user_session_path %>
    </div>
    Join our club now!
    <div class="linkdiv">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  <% end %>
</div>